<div class="row mb-4">
  <div class="col-md-4 offset-md-4">
    <div class="list-group">
      <% users.each do |user| %>
        <a href="/<%= user.username %>" class="list-group-item list-group-item-action"><%= user.username %></a>
      <% end %>
    </div>
  </div>
</div>
